<div class="container-fluid">
    <h1 class="text-center">Browse Our Men Collection</h1>
    <div class="row">
        <div class="col-sm-2">
            <form>
                <h4>Select Sizes</h4>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something"
                        checked>
                    <label class="form-check-label" for="check1">M</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                    <label class="form-check-label" for="check2">L</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                    <label class="form-check-label" for="check2">XL</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                    <label class="form-check-label" for="check2">XXL</label>
                </div>
                <h4>Select Brand</h4>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something"
                        checked>
                    <label class="form-check-label" for="check1">Cottonking</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                    <label class="form-check-label" for="check2">Levis</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                    <label class="form-check-label" for="check2">Peter England</label>
                </div>
                <label for="customRange" class="form-label">Price range 1000-10000</label>
                <input type="range" class="form-range" id="customRange" name="points" min="1000" max="10000">


            </form>
        </div>
        <div class="col-sm-10">

            <div id="accordion">

                <div class="card">
                    <div class="card-header">
                        <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                            Girls
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="images/kid1.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Shirt1</h5>
                                            <p class="card-text">fgdfgdgd dgdg dfgdfg</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="images/kid2.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a short card.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="images/kid3.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a longer card with supporting text below as
                                                a natural
                                                lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="images/kid1.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a longer card with supporting text below as
                                                a natural
                                                lead-in to additional content. This content is a little bit longer.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="images/kid2.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a longer card with supporting text below as
                                                a natural
                                                lead-in to additional content. This content is a little bit longer.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="images/kid3.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a longer card with supporting text below as
                                                a natural
                                                lead-in to additional content. This content is a little bit longer.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="images/kid1.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a longer card with supporting text below as
                                                a natural
                                                lead-in to additional content. This content is a little bit longer.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                            Boys
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                        <div class="card-body">
                            <h1>Boys Collection</h1>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                            Fashion
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                        <div class="card-body">
                            <h1>Fashion</h1>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>